<%content_for :head do%>
<%= stylesheet_link_tag "onde_encontrar"%>

<% end %>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container ">
            <h1 class="title_left_container twelve columns">Mensagem envida com sucesso!</h1>
        </div>
		
        <div class="text_container twelve columns">
        <hr style="border-color:#f1454b;" class="twelve columns">
        <p class="text_container_p twelve columns">
        	Lorem ipsum dolor sit ametconsectetur adipiscing elit. Sed ornare porta nibh vitae lacinia. Phasellus ut nulla dolor. Integer eu metus orci, et semper neque. 
        </p>
            
        </div>
    </div>
    <div class="right_container six columns">

    </div>
</div>
