<%content_for :head do%>
<%= stylesheet_link_tag "a_giotto"%>

<%end%>
<div class="container ">
    <div class="left_container six columns">
        <div class="title_container">
            <h1 class="title_left_container">A GIotto</h1>
        </div>
        <div class="text_container">
            <div id="scrollbar1">
                <div class="scrollbar" style="height: 389px;"><div class="track" style="height: 389px;"><div class="thumb" style="top: 0px; height: 127.05373635600336px;"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview" style="top: 0px;">
                        <p class="text_left_container">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non <br>
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.<br>
                        </p>
                        <p class="text_left_container">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non <br>
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.<br>
                        </p>
                        <p class="text_left_container">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non <br>
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla. Sed pulvinar, risus a rhoncus placerat, lacus metus fermentum sapien, in euismod nisl risus eget lorem. Quisque nibh tortor, rutrum at varius eu, auctor vitae nibh.<br>
                        
                        Aliquam sodales justo ac odio vulputate sed bibendum lorem scelerisque. Nullam pharetra, dolor nec pulvinar pellentesque, sem turpis egestas eros, sit amet tempor lorem sem ultricies nisi. Donec rutrum est libero. Mauris imperdiet elementum arcu non varius. Ut condimentum libero eget velit placerat in lacinia metus tristique. Proin dictum tincidunt augue, aliquam adipiscing elit aliquam ut. Donec vel diam risus, non imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.imperdiet elit. Ut mi metus, aliquet tempor pharetra eget, pharetra in magna.<br>
                        </p>                                        
                    </div>
                </div>
            </div>        
    
        </div>
    </div>
    <div class="right_container six columns">
            <div class="img_container">
            <div id="prev"></div>
            <div id="next"></div>	
               <div class="slideshow" style="position: relative; width: 461px; height: 382px; overflow: hidden;">
                <%=image_tag ("images/exemp_1.jpg"), :style=>"position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1;"%> 
                <img src="images/exemp_2.jpg" style="position: absolute; top: 0px; left: -417px; display: none; z-index: 3; opacity: 1;">
                <img src="images/exemp_1.jpg" style="position: absolute; top: 0px; left: -417px; display: none; z-index: 3; opacity: 1;">       
               </div>
            </div>     
                   
    
    </div>
</div>
