#nav {text-align:center; position:absolute;bottom:0%;margin-left:50%; border:#0F0; z-index:2000; height:30px; width:300px;  }
#nav a{ color:transparent;float:left; height:21px; width:21px;display:block; margin-right:11px; background-image:url(/images/bg_nav_slider_off.png); background-position:3px 3px; background-repeat:no-repeat;}	
#nav .activeSlide{ background-image:url(/images/bg_nav_slider_on.png); background-repeat:no-repeat;background-position:0px 0px;}
iframe {
        border-style:none;
}

.slideshow {
	margin-bottom:66.2%; 
	width:100%; 
	height:100%; 
	position: relative;
	z-index:1000;
}  
.slide_box_show{
	width:100%; 
	height:100%;	
}
.slideshow .img_show {
	width:100%; 
	height:100%;
}

.saiba_mais_container{
	
	position: absolute;
	width: 40%;
	z-index: 1000;	
	margin-top:18.75%;
}

.sm_ct_1{
	position:relative;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:5%;
	text-align:left;
	font-family:HelveticaCondensedLight;
	font-weight:normal;
	font-size:46px;
	color:#fff;	
	width:auto;	
	background-image:url(../images/bg_trans_submenu.png);
	margin-bottom:2px;
	margin-right:20%;
	padding-left:25%;
}
.sm_ct_2{
	position:relative;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:5%;
	text-align:left;
	font-family:HelveticaCondensedLight;
	font-weight:normal;
	font-size:46px;
	color:#fff;			
	width:auto;	
	background-image:url(../images/bg_trans_submenu.png);
	margin-bottom:2px;
	margin-right:27%;
	padding-left:25%;
}
.sm_ct_3{
	position:relative;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:5%;
	text-align:left;
	font-family:HelveticaCondensedLight;
	font-weight:lighter;
	font-size:18px;
	color:#fff;			
	width:auto;	
	background-image:url(../images/bg_trans_submenu.png);
	padding-left:25%;
}
.bt_saibamais{
	position:relative;
	float:right;
	top: -10px;
	right:-13px;
}
@media only screen and (max-width: 1126px)
{
.saiba_mais_container{
	position: absolute;
	width: 50%;
	z-index: 1000;	
	margin-top:13.75%;	
}
	.sm_ct_1{
		font-size:23px;
	}
	
	.sm_ct_2{
		font-size:23px;	
	}
	.sm_ct_3{
		font-size:9px;	
	}
	.bt_saibamais{
		width:40%;
		top:-3px;
		right:-6px;	
	}
#nav {
	margin-top: 56.2% !important;
	margin-left: 45% !important;
}	
}

@media only screen and (max-width: 525px)
{

.slideshow {
	width:100% !important;
}
.saiba_mais_container{
	position: absolute;
	width: 50%;
	z-index: 1000;	
	margin-top:12.75%;	
}
	.sm_ct_1{
		font-size:20px;
		width:320px;
		text-align: left;
	}
	
	.sm_ct_2{
		font-size:18px;
		width:320px;
		text-align: left;	
	}
	.sm_ct_3{
		font-size:16px;
		width:320px;
		text-align: left;	
	}
	.bt_saibamais{
		width:50%;
		top:-5px;
		right:-120px;	
	}
.slideshow .img_show {
	width:100%; 
	height:auto;
}	
	.container{
		height:220px !important;
	}
#nav {
	margin-top: 56.2% !important;
	margin-left: 38% !important;
	width: 240px;
}
}
