iframe {
        border-style:none;
}
.container{
	position: relative;
	height:718px;
	background-image:url(/images/bg_produtos.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
/*	border:#069 1px solid; */
}
.container_prod{
	display:none;
	position: absolute;
	z-index:3000;
	height:718px;
	width:100%;
	background-image:url(/images/bg_trans_submenu.png);
	background-position:center center;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
/*	border:#069 1px solid; */
}
.bt_close_prod{
	float:right;
	margin-top: 17px;
	margin-right: 25px;
	cursor:pointer;
}
.content_area{
	position:relative;
	margin-top:83px;
	margin-bottom:83px;
	width:100%;
	height:539px;
	background:#FFF;
}
.box_area{
	position:relative;
	width:1000px;
	margin:0 auto;
	height:100%;
}
	.box_area_left{
		position:relative;
		top:9%;
		float:left;
		width:430px;
		text-align: center;
	}
	.arrow_prev_align{
		position:absolute;
		top: 43%;
		float:left;
		left: 0px;
		cursor:pointer;
	}
	.arrow_next_align{
		position:absolute;
		top: 43%;
		float:right;
		right: 0px;
		cursor:pointer;
	}	
	.box_area_right{
		position:relative;
		top:7%;
		float:left;
		width:568px;
		padding-left:60px;
	}
		.title_prod{
			font-family:HelveticaCondensedLight;
			font-weight:normal;
			font-size:30px;
			color:#6e6e6e;
			text-align:left;		
		}
		.text_prod{
			width:506px;
			font-family:HelveticaCondensedLight;
			font-weight:normal;
			font-size:16px;
			color:#6e6e6e;
			text-align:left;
      margin-bottom: 8px !important;
		}
	.left_container{
		position: relative;
		padding:1% 11px 0px 18px;
		height: 100%;
		
	}
		h1.title_left_container{
			background-color:#ed1d24;
			padding:28px 11px 28px 18px;
			font-family:HelveticaCondensedLight;
			font-weight:normal;
			font-size:46px;
			color:#fff;
			margin:0px;
			text-align:right;
		}	
		h2.title_left_container{
			opacity:0.7;
			filter:alpha(opacity=70); /* For IE8 and earlier */			
			background-color:#ed1d24;
			font-family:HelveticaCondensedLight;
			font-weight:normal;
			font-size:24px;
			color:#fff;
			text-align:right;
			width: 100%;
		}	
		h2.title_left_container a{
			color: #fff !important;
			display: block;
			width: 100%;
			height: 74px;
			padding: 22px 20px 18px 0px;
			margin: 0px;
			position: relative;
		}			
	.right_container{
		position: relative;
		padding: 1% 18px 0px 0px;
		height:98%;
	}
		.products_container{
			position: relative;
			background:#FFF;
			height:100%;
			padding:53px 70px 53px ;
		}
		.products_menu{
			position:relative;
			width:auto;
			min-height:40px;
			height:auto;

			}
		.products_menu ul{
			
			position:relative;
			min-height:40px;
			height:auto;						
			list-style:none;		
		}
					
			li.p_item a{
				display:block;
				margin-right:36px;
				position:relative;
				padding:13px 10px;
			 	float:left;
				font-family:HelveticaCondensedLight;
				font-weight:bold;
				font-size:18px;
				color:#b0b0b0;
				text-align:center;			
			}
			li.p_item a:hover{
				color:#fff !important;
				background:#ed1d24;
			}
      .category_active{
        color:#fff !important;
				background:#ed1d24;
        color:#FFF !important;
      }
		
			.products_item{
				position:relative;
				vertical-align:middle;
				float:left;				
				height:281px !important;
				width:275px;
				padding-top:25px;
				height:auto;
			}	
				.image_products{
					position:relative;
					width:auto;
					text-align:center;
					height: 150x;
					
				}
				.image_products img{
					position:relative;
                                        z-index:1;
					
				}				
				.code_products{
					font-family:HelveticaCondensedLight;
					font-weight:bold;
					font-size:14px;
					
					text-align:center;						
				}
				.tag_litre {
                                        position:absolute;
                                        margin-top:-30%;
                                        margin-left:60%; 
                                        z-index:2;
                                        height:20px;
                                        width:auto;
                                        padding:5px;
                                        color:#fff;
                                        background-color:#F96328;
                                        font-size:11px;
                                 }
        .code_products a{
          color:#5b5b5b !important;
        }
				.name_products{
					font-family:HelveticaCondensedLight;
					font-weight:normal;
					font-size:14px;
					color:#5b5b5b;
					text-align:center;					
				}
        .name_products a{
					color:#5b5b5b;					
				}
		
@media only screen and (max-width: 1458px)
{
.container{
	height: 788px;	
}
.container_prod{
	height:788px;
}
.content_area{
	margin-top:124px;
}
}
@media only screen and (max-width: 1098px)
{
.title_left_container{
	font-size:28px;
}
.right_container{
	
	}
.left_container{
	
}
.products_container{
	height:;
}
.container{
	height: 1748px;
	
}
.container_prod{
	height: 1748px;
}
.content_area{
	height: 1480px;
}
	.box_area{
		height: 1480px;
	}
	.box_area_right {
	top: 7%;
	}
}
@media only screen and (max-width: 918px)
{
.container{
	height: 1664px;	
}	
.container_prod{
	height:1664px;
}
.content_area{
	margin-top:124px;
	height:1330px;
}
	.box_area {
	position: relative;
	width: 100% !important;
	margin: 0 auto;
	height: 100%;
	}
	.box_area_left {
	position: relative;
	top: 3%;
	margin:0 auto;
	float: none;
	width: 460px;
	text-align: center;
	}
	.box_area_right{
		position: relative;
		top: 10% !important;
		float: none !important;
		width: 445px !important;
		margin: 0 auto !important;
		padding-left:20px !important;
	}	
}
@media only screen and (max-width: 768px)
{
	.left_container{
		padding: 1% 0px 0px 0px !important;
					
		}
		.title_left_container{
			text-align:left !important;	
		}
		h2.title_left_container a{
			margin-left:20px;	
		}		
	.right_container{
		padding: 1% 7px 0px 7px !important;
		height:1700px !important;
	}
	.products_container {
		padding: 0px 5px 250px !important;
	}
	.products_item{
		width: 500px;
		left: 50%;
		margin-left: -250px !important;
		display: block;
	}	
}	



@media only screen and (max-width: 480px)
{
	.products_container {
		padding: 0px 5px 0px !important;
	}
	
	.container {
		background:none;
	}	
	.left_container{
		height:auto;
	}
	
	
}
@media only screen and (max-width: 398px)
{
	.container {
		height: 1150px;
	}	
	.right_container{
		padding: 1% 7px 0px 7px !important;
		height:1090px !important;
	}	
	.products_container {
		padding: 0px 5px 350px !important;
	}
	.products_item{
		width: 500px;
		left: 50%;
		margin-left: -250px !important;
		display: block;
	}
	
	.box_area_left {
		width: 377px !important;
	}
	.box_area_right {
		width: 377px !important;
	}	
}

/*jcicle produtos interna*/
.slideshow2 {margin:0 auto; width:461px; height:auto;  }  
.slideshow2 img {width:250px !important;} 
#next2{position: absolute;top: 43%;right: 0px; float:right; background-image:url(../images/bt_next_arr_g.png); background-position:center; height:75px; width:50px; display:block;cursor:pointer;}
#prev2{position: absolute;top: 43%;left: 0px;float:left; background-image:url(../images/bt_prev_arr_g.png); background-position:center; height:75px; width:50px; display:block;cursor:pointer;} 
#nav {tex-align:center; position:absolute;margin-top:63.2%;margin-left:50%; border:#0F0; z-index:5000; height:30px; width:300px;  }
#nav a{ color:transparent;float:left; height:21px; width:21px;display:block; margin-right:11px; background-image:url(images/bg_nav_slider_off.png); background-position:3px 3px; background-repeat:no-repeat;}	
#nav .activeSlide{ background-image:url(images/bg_nav_slider_on.png); background-repeat:no-repeat;background-position:0px 0px;}


/*scroll personalizado*/
#scrollbar1 {width: auto; height:100%;clear: both; margin:60px 0px 0px 0px; }
#scrollbar1 .viewport { width: auto; height:80%; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #ed1d24;-moz-border-radius: 0px;border-radius: 0px; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { left: 0px;background-image:url('../images/bg_track2.png'); background-color:repeat-y; background-color:transparent; height: 100%; width:7px; position: relative; padding: 0 0px;  }
#scrollbar1 .thumb { height: 20px; width: 7px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 7px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
>>>>>>> bruno
