<%content_for :head do%>
<%= stylesheet_link_tag "home"%>
<% end %>
    <div class="cont_box_left ">
        <p class="cont_box_text_h1">
            Sua mensagem foi enviada com sucesso!
        </p>
        <p class="cont_box_text_p"><br />
            
        </p>
    </div>
    <div class="cont_box_right ">
    </div>