<%content_for :head do%>
<%= stylesheet_link_tag "home"%>

<% end %>	
  <div class="container">
        	<div class=" saiba_mais_container ">
            	<div class="sm_ct_1">Lorem Ipsum Dolor</div>
                <div class="sm_ct_2">Sit Amet</div>
                <div class="sm_ct_3">
                	Lorem ipsum dolor sit amet, consectetur adipiscing<br />
                    elit. Sed ornare porta nibh vitae lacinia. Phasellus ut<br />
                    nulla dolor. Integer eu metus orci, et semper neque. 
                </div>
                <a href="#"><img src="images/bt_saibamais.jpg" class="bt_saibamais"></a>
        	</div>
           <div id="nav" style="">
           </div>  
           <div class="slideshow"  id="images_c" >
			<img src="images/destaque_1.jpg"  > 
			<img src="images/destaque_2.jpg"  >
            <img src="images/destaque_1.jpg"  > 
                  
           </div> 

  	</div>

