<html>
<body>
	<h2>Novo Contato - Contato</h2>
	<p>Nome: <%=@contact.name%></p>
	<p>Email: <%=@contact.email%></p>
	<p>Telefone: <%=@contact.phone%></p>
	<p>Mensagem:</p>
	<p><%=@contact.message%></p>
</body>
</html>
