<% title "Editar Produto" %>
<h1>Editar</h1>
<%= render 'form' %>

<p>
  <%= link_to "Visualizar", admin_category_product_path(@category, @product) %> |
  <%= link_to "Ver Todos", admin_category_products_path %>
</p>
