<% title "Edit Admin/About Image" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @about_image], :class => "button secondary" %> |
  <%= link_to "View All", admin_about_images_path, :class => "button secondary" %>
</p>
