<% @products.each do |product| %>
<div class="products_item block-grid four-up mobile">
  <div class="image_products">
    <%= link_to(image_tag(product.product_images.first.image("thumb")), show_product_product_path(product.id), :remote => true) if !product.product_images.blank?%>

    </div>                                
  <div class="code_products">
    <%= link_to product.code, show_product_product_path(product.id), :remote => true %>
  </div>
  <div class="name_products">
    <%= link_to product.name, show_product_product_path(product.id), :remote => true%>
  </div>
  <% if product.tag? %>
  <span class="tag"><%= product.tag %></span>
  <% end %>
</div> 
<% end %>
