<%content_for :head do%>
<%= stylesheet_link_tag "produtos_espec"%>
<% end %>	
<div id="container_prod" class="container_prod" style="display: none;">
    
</div>

<div class="container ">
    <div class="left_container three columns left">
        <div class="title_container">
            <h1 class="title_left_container" id="active_category">Produtos</h1>
        </div>
    </div>
        <div class="right_container nine columns right">
			<div class="products_container">
            <div class="products_menu">
                <ul>
                  <% @categories.each do |category| %>
                    <li class="p_item"><%= link_to category.title, show_category_product_path(category.id), :id => "cat_"+category.id.to_s, :remote => true %></li>
                  <% end %>
                </ul>
            </div>  
               <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview" id="show_product">
                        
                        </div>
                </div> 
			</div>
               

		</div>
	</div>
<script>
  $('#cat_<%= @category_id.blank? ? @categories.first.id : @category_id.id%>').trigger('click');
  $(document).ready(function(){
    
    $(".container_prod").hide();
    $(".products_item a").click(function () {
		
      $(".container_prod").fadeIn("slow");
	  
    });
    
    $('#scrollbar1').tinyscrollbar();
	$(window).resize(function(){
	$('#scrollbar1').tinyscrollbar_update();
	});
  });
 </script>

