<%if !flash[:error].blank?%>
	jQuery('#flash_error_cadastro').addClass('flash_ops');
	jQuery('#flash_error_cadastro').show();
	erro = "";	
	erro += "<div class='alert-box alert'>";
	erro += "	<h2>Ops!</h2>";
	erro += "	<p><%= flash[:error];%></p>";
	erro +=	"</div>";
	erro += "<div class='clear'></div>";
	jQuery('#flash_error_cadastro').html(erro);
<%else%>
      <%if User.find(current_user.id).has_role? :representante%>
        window.parent.location.href = "<%= restrict_index_path %>";
      <%else%>
        window.parent.location.href = "<%= admin_root_path %>";
      <%end%>
<%end%>