	<div class="header">
            <div class="logo left">
				<a href="./home.html"><%= image_tag ("logo.png") %></a>           
            </div>     
            <!--Menu --> 
            <div class="menu_container right">    
                <ul class="menu">
                    <li><a href="./a-giotto.html">A Giotto</a>                  
                    </li>
                    <li>
                    	<a href="./produtos_espec.html">Produtos</a>
                        <ul class="sub_menu">
                        	<li><a href="./lancamentos.html">Lançamentos</a></li>
                            <li><a href="./lancamentos.html">Utilidades Domésticas</a></li>
                            <li><a href="./lancamentos.html">Brinquedos</a></li>
                        	<li><a href="./lancamentos.html">Lançamentos</a></li>
                            <li><a href="./lancamentos.html">Utilidades Domésticas</a></li>
                            <li><a href="./lancamentos.html">Brinquedos</a></li>                            
                        </ul>
                    	
                    </li>
                    <li><a href="./representantes.html">Representantes</a>
                        <ul class="sub_menu">
                        	<li><a href="./lancamentos.html">Lançamentos</a></li>
                            <li><a href="./lancamentos.html">Utilidades Domésticas</a></li>
                            <li><a href="./lancamentos.html">Brinquedos</a></li>
                         
                        </ul>                    
                    </li>
                    <li><a href="./onde_encontrar.html">Onde Encontrar</a>
                        <ul class="sub_menu">
                        	<li><a href="./lancamentos.html">Lançamentos</a></li>
                            <li><a href="./lancamentos.html">Utilidades Domésticas</a></li>
                            <li><a href="./lancamentos.html">Brinquedos</a></li>
                        	<li><a href="./lancamentos.html">Lançamentos</a></li>
                            <li><a href="./lancamentos.html">Utilidades Domésticas</a></li>
                            <li><a href="./lancamentos.html">Brinquedos</a></li>                            
                        </ul>                    
                    </li>
                </ul>
            </div>        
            <!--Menu End --> 
	</div>
