<div class="footer">	
      <p class="cont_left_footer">Giotto (C) 2013 - Todos os direitos reservados.</p>
            <div class="cont_right_footer">
            	<%= image_tag ("bt_entrar_contato.jpg"), :id => "contato_bt" %>
                <a href="#"><%= image_tag ("bt_facebook.jpg"), :class => "bt_facebook_align" %></a>
            </div>
<div class="contato_box">
    <div class="cont_box_left ">
        <p class="cont_box_text_h1">
            Entre em contato conosco!
        </p>
        <p class="cont_box_text_p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla magna, facilisis et ullamcorper nec, laoreet nec elit. Donec sit amet quam orci, ut tempus magna. Integer vitae felis risus. Aliquam neque enim, vulputate vitae blandit vitae, fringilla vitae erat. Nulla erat ligula, volutpat quis blandit sed, vestibulum eget nulla.
        </p>
    </div>
    <div class="cont_box_right ">
        <form>
              <div class="four columns">
                <label class="right inline">Name</label>
              </div>
              <div class="eight  columns">
                <input type="text" placeholder="Nome" class="five">
              </div>
              <div class="four columns">
                <label class="right inline">E-mail</label>
              </div>
              <div class="eight  columns">
                <input type="text" placeholder="E-mail" class="five">
              </div>
              <div class="four columns">
                <label class="right inline">Telefone</label>
              </div>
              <div class="eight  columns">
                <input type="text" placeholder="Telefone" class="five">
              </div>
              <div class="four columns">
                <label class="right inline">Mensagem</label>
              </div>
              <div class="eight columns">
                <textarea type="" placeholder="Mensagem" class="five">
                </textarea>
              </div>
              <div class="four columns">
              </div>
              <div class="eight  columns">
                <a href="#"><%= image_tag ("bt_enviar_contato.jpg") %></a>
              </div>          
        </form>  
    </div>
</div>
	</div>
